/* global html body */
body {
  background: #ffe linear-gradient(to bottom, #fed6af 0, #ffe 128px) no-repeat 0 0 local;
  color: rgba(100, 11, 0, 1.0);
}

/* links */
a {
  text-decoration: none;
}

a, a:visited {
  color: inherit;
}

a:hover, a:active {
  color: rgba(144, 100, 90, 1.0);
}

/* post */
.reply {
  background: rgba(243, 230, 222, 1.0);
}

.post_info .post_name {
  color: #117743;
}

.post_content .post_ban_reason {
  color: #ff0000;
}

/* post::bbcode */
/*.post_content .post_message pre {
  border: 1px solid rgb(200, 166, 150);
}

.post_content .post_message blockquote p {
  border: 1px solid rgb(200, 166, 150);
}*/

/* admin post */
.admin_post_info {
  background: rgba(243, 230, 222, 1.0);
}

.admin_post_info .admin_post_name {
  color: #117743;
}

.admin_post_info .admin_post_ipv4_addr {
  color: #431177;
}

/* admin report */
.admin_report_info {
  background: rgba(243, 230, 222, 1.0);
}

.admin_report_info .admin_report_ipv4_addr {
  color: #431177;
}

/* admin ban */
.admin_ban_info {
  background: rgba(243, 230, 222, 1.0);
}

.admin_ban_info .admin_ban_ipv4_addr {
  color: #431177;
}

.admin_ban_info .admin_ban_banned_ipv4_addr {
  color: #ff0000;
}

.admin_ban_info .admin_ban_datetime_starts {
  color: #ff0000;
}

.admin_ban_info .admin_ban_datetime_ends {
  color: #117743;
}

/* drop menu */
.drop_menu ul {
  border: 1px solid rgb(200, 166, 150);
}

.drop_menu ul li {
  background: rgba(243, 230, 222, 1.0);
  border-bottom: 1px solid rgb(200, 166, 150);
}
