.admin_ban {
  margin-bottom: 4px;
}

.admin_ban_info {
  background: rgba(0, 0, 0, 0.2);
}

.admin_ban_info span {
  margin-right: 4px;
}

.admin_ban_info a {
  margin-right: 4px;
}

.admin_ban_info .admin_ban_id_ref {
  font-weight: bold;
}

.admin_ban_info .admin_ban_ipv4_addr {
  font-weight: bold;
  color: #431177;
}

.admin_ban_info .admin_ban_banned_ipv4_addr {
  font-weight: bold;
  color: #ff0000;
}

.admin_ban_info .admin_ban_datetime_starts {
  font-weight: bold;
  color: #ff0000;
}

.admin_ban_info .admin_ban_datetime_ends {
  font-weight: bold;
  color: #117743;
}

.admin_ban_content .admin_ban_reason {
  white-space: pre-line;
}
