.admin_ban_form label {
  margin-right: 4px;
}

.admin_ban_form input {
  margin-right: 4px;
}

.admin_ban_form_title {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}

.admin_ban_form_container {
  border: solid;
  border-width: 1px;
  border-style: dashed;
}
