.admin_ban {
  margin-bottom: 4px;
}

.admin_ban_info span {
  margin-right: 4px;
}

.admin_ban_info a {
  margin-right: 4px;
}

.admin_ban_info .admin_ban_id_ref {
  font-weight: bold;
}

.admin_ban_info .admin_ban_ipv4_addr {
  font-weight: bold;
}

.admin_ban_info .admin_ban_banned_ipv4_addr {
  font-weight: bold;
}

.admin_ban_info .admin_ban_datetime_starts {
  font-weight: bold;
}

.admin_ban_info .admin_ban_datetime_ends {
  font-weight: bold;
}

.admin_ban_content .admin_ban_reason {
  white-space: pre-line;
}
