.admin_reports_footer_container_left {
  display: inline-block;
  position: absolute;
  left: 0px;
}

.admin_reports_footer_container_right {
  display: inline-block;
  position: absolute;
  right: 0px;
}

.admin_reports_filter_title {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
}
