.board_header_container {
  text-align: center;
}

.board_footer_container .pagination {
  float: left;
}

.board_footer_container .delete_form {
  float: right;
}

.board_footer_container .board_footer_container_clear {
  clear: both;
}
