.board_header_container {
  text-align: center;
}

.board_footer_container_left {
  display: inline-block;
  position: absolute;
  left: 0px;
}

.board_footer_container_right {
  display: inline-block;
  position: absolute;
  right: 0px;
}
