.post {
  margin-bottom: 4px;
}

.post_info span {
  margin-right: 4px;
}

.post_info a {
  margin-right: 4px;
}

.post_info .post_name {
  font-weight: bold;
}

.post_content .post_media {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.post_content .post_media img {
  object-fit: contain;
}

.post_content .post_message {
  white-space: pre-line;
}

.post_content .post_ban_reason {
  margin-top: 8px;
  font-weight: bold;
}

.post_content .post_clear {
  clear: both;
}

@media only screen and (min-device-width: 1028px) {
  .post_content .post_media img {
    width: 256px;
    height: 256px;
  }
}

@media only screen and (max-device-width: 1028px) {
  .post_content .post_media img {
    width: 128px;
    height: 128px;
  }
}
