.drop_menu_btn {
  transition: transform 0.1s;
  display: inline-block;
}

.drop_menu_btn_opened {
  transform: rotate(90deg);
}

.drop_menu {
  display: inline-block;
  position: absolute;
}

.drop_menu ul {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 1px solid rgb(153, 153, 153);
  border-right-width: 2px;
}

.drop_menu ul li {
  padding: 2px 4px;
  background-color: rgb(204, 204, 204);
  border-bottom: 1px solid rgb(153, 153, 153);
}