body {
  margin: 4px;
  font-size: 10pt;
}

.menu_container .admin_menu {
  float: left;
  margin-right: 4px;
}

.menu_container .boards_list {
  float: left;
}

.menu_container .theme_selector {
  float: right;
}

.menu_container .menu_container_clear {
  clear: both;
}
