.post {
  margin-bottom: 4px;
}

.reply {
  background: rgba(0, 0, 0, 0.2);
}

.post_info span {
  margin-right: 4px;
}

.post_info .name {
  font-weight: bold;
  color: #117743;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

.post_content .post_media {
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}

.post_content .post_media img {
  object-fit: contain;
}

.post_content .post_message {
  white-space: pre-line;
}

.post_content .post_clear {
  clear: both;
}